In [1]:
a=10 #int
print(a,type(a))
a=10.2 #float
print(a,type(a))
a='hello' #str
print(a,type(a))
a=True #bool
print(a,type(a))
a=None #Nonetype
print(a,type(a))
a=[1,2,3] #list
print(a,type(a))
a=(1,2,2,2,3) #tuple
print(a,type(a))
a={1,2,3} #set
print(a,type(a))
a={'a':1,'b':2} #dict
print(a,type(a))

10 <class 'int'>
10.2 <class 'float'>
hello <class 'str'>
True <class 'bool'>
None <class 'NoneType'>
[1, 2, 3] <class 'list'>
(1, 2, 2, 2, 3) <class 'tuple'>
{1, 2, 3} <class 'set'>
{'a': 1, 'b': 2} <class 'dict'>

In [2]:
print()
a=5
b=10
print(a, b)
print(a, b, a + b)
print(a, b, a+b, sep='\n')

5 10
5 10 15
5
10
15

In [4]:
x=10
y=3
z=x/y
print(f'{x}/{y} = {z:.2f}')
print(x,'/',y,'=',round(z,2))

10/3 = 3.33
10 / 3 = 3.33

In [5]:
n1='Divyanshi'
n2='ABC'
n3='XYZ'
a1,a2,a3=22,21,24
print(f'{n1:10} {a1}')
print(f'{n2:10} {a2}')
print(f'{n3:10} {a3}')

Divyanshi  22
ABC        21
XYZ        24

In [1]:
name = 'Divyanshi'
age = 20
city = 'Lucknow'
print(f'My name is {name}, I am {age} years old, I live in {city}')

My name is Divyanshi, I am 20 years old, I live in Lucknow