syntax
'''
def fun_name([parameters]):
    statement 1
    statement 2

    ''''
    statement n
    [return experession]
'''
example
''''
def area(width,weight):
    a = width * height
    return a

Functions

- based on parameter and return value
    1. no parameter , no return value
    2. no parameter , return value
    3. parameter , no return value
    4. parameter , return value

- based on parameter type 
    1. required parameter
    2. keyword parameter
    3. default parameter
    4. variable length parameter (*args)
    5. variable keyword arguments(** kwargs)

- other type of function
    1. lambda function
    2. generator function
    3. recursive function

In [1]:
# value returing function
def area ():
    l = int(input("Enter l = "))
    b = int(input("Enter b = "))
    return l*b

In [2]:
ans = area ()
print(f'area is {ans}')

area is 1350

In [3]:
def math():
    p = int(input("Enter the principal :"))
    r = int(input("enter the rate : "))
    t = int(input("enter the time :"))
    si = p*r*t/100
    amt = p+si
    return si ,amt

In [4]:
result = math ()
print('si',result[0])
print('amt',result[1])

si 5240.0
amt 5895.0

In [5]:
si , amount = math()
print(si , amount)

1600.0 2000.0

In [6]:
def is_armstrong(number):
    t = number
    s = 0 # sum 
    pow = len(str(number))
    while number > 0:
        r = number % 10
        s += r ** pow
        number //= 10
    return t == s

In [7]:
x = int (input ('enter a number'))
print(is_armstrong(x))

False

In [8]:
def adder(a,b,c):
    return a+b+c

In [9]:
print(adder(5,2,5))

12

In [10]:
print(adder(a=4,b=2,c=5))
print(adder(b=10,c=20,a=10))
print(adder(10,c=20,b=20))
print(adder(10,20,c=30))

11
40
50
60

In [11]:
def multiplier(a,b,c=1):
    return a*b*c

In [12]:
print(multiplier(2,3))
print(multiplier(2,3,10))
print(multiplier(2,3,c=5))

6
60
30

In [27]:
from string import punctuation
def cleaner (data,chars=None):
    if chars is None:
        chars = punctuation
    for c in chars:
        data = data.replace(c,'')
    return data

In [28]:
print(punctuation)

!"#$%&'()*+,-./:;<=>?@[\]^_`{|}~

In [29]:
cleaner('h@!#*(!@*#(el!@#)(!@)#lo{}#@}!', chars = '!@#*{}[]')

'h((el)()lo'

In [18]:
def multiplier(*nums):
    result = 1
    for num in nums:
        result *= num
    return result

In [19]:
print(multiplier())
print(multiplier(2))
print(multiplier(2,3,5,6,78,9))
print(multiplier(2,3,4,5,6,7,4,2,6,7,57,3,2))

1
2
126360
579156480

In [21]:
def aggregator (*x,action = 'sum'):
    if action == 'sum':
        return sum(x)
    elif action == 'count':
        return len(x)
    elif action == 'mean':
        return sum (x)/len(x)
    else:
        raise ValueError('Invalid action')

In [22]:
aggregator(1,2,3,3,1,1,2,2,3, action = 'mean')

2.0

In [1]:
def sorter (*data , type='number'):
    if type == 'number':
        clean_data = []
        for i in data:
            if isinstance(i,int) or isinstance(i,float):
                clean_data.append(i)
        clean_data.sort()
        return clean_data
    else:
        return None

In [2]:
sorter(11,6,7,12)

[6, 7, 11, 12]

In [3]:
sorter(12,45,'a','b',2,4,5,6)

[2, 4, 5, 6, 12, 45]

In [6]:
def display_data(**data):
    print("your data : ")
    total = 0 
    for k,v in data.items():
        print(f"{k:10}{v}")
        total += v
    print('-'*20)
    print(f"Total : Rs.{total}")
    print('-'*20)

In [7]:
display_data(dahi=50, medicine=1200, tshirt=250,fruits=100)

your data :
dahi      50
medicine  1200
tshirt    250
fruits    100
--------------------
Total : Rs.1600
--------------------

f(x) = x**2 + x*10 + x

f(2)

In [8]:
f = lambda x: x**2 + x*10 + x
print(f(10))
print(f(4))
print(f(2))

210
60
26

In [9]:
g = lambda x,y : x**3 + y**4 + x*y - 1
print(g(1,2))
print(g(4,5))
print(g(4,3))

18
708
156

In [10]:
p = lambda a,b : (a**2 + b**2)**.5  #

In [13]:
p(13,14)

19.1049731745428

MAP : list of data -> operation -> new list of data 

Filter : list of data -> condition -> new list of data

In [14]:
x = [2,3,12,31,3,12,31,23]
x3 = list(map(lambda i : i**3,x))
print(x3)

[8, 27, 1728, 29791, 27, 1728, 29791, 12167]

In [15]:
x = [1,2,3,5,5,5]
y = [2,3,4,6,3,5]
xy = list(map(lambda i,j : i*j, x,y))
print(xy)

[2, 6, 12, 30, 15, 25]

In [16]:
# Filtering

a = [1,2,4,3,5,3,2,1,5,3,2]
b = list(filter(lambda i : i%2==1, a))
print(b)

[1, 3, 5, 3, 1, 5, 3]

In [17]:
from random import randint

In [19]:
def random_range(s,e,size =10):
    for i in range(size):
        yield randint(s,e)

In [21]:
for i in random_range(1,100,15):
    print(i,end=' ')

82 31 1 20 92 52 42 45 5 40 13 57 38 37 34