syntax
  
for temp in iterable:
    
    statement 1 
    ...
    
    statement n

In [ ]:
range(10)

In [1]:
for i in range (10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [2]:
for i in range (5,11):
    print(i)

5
6
7
8
9
10

In [4]:
for i in range (5,100,5):
    print(i,end=' ')

5 10 15 20 25 30 35 40 45 50 55 60 65 70 75 80 85 90 95

In [6]:
for i in range(10,0,-1):
    print(i,end=' ')

10 9 8 7 6 5 4 3 2 1

In [7]:
data = [12,45,56,53,24,20]
# traversal of list
for i in data:
    print(i,end=' ')

12 45 56 53 24 20

In [9]:
prices=[12,52,None,45,23,None,78,None,56]
for pr in prices:
    if pr is None:
        continue
    print(pr,end=' ')

12 52 45 23 78 56

In [10]:
prices=[12,52,None,45,23,None,78,None,56]
for pr in prices:
    if pr is not None:
        print(pr,end=' ')

12 52 45 23 78 56

In [15]:
for iteam in prices :
    if iteam is None:
        break
    print(iteam,end=' ')
print('the end')

12 52 the end

In [16]:
for i in range (1,6):
    print(i)
    for j in range(1,4):
        print(j,end=' ')
    print()

1
1 2 3
2
1 2 3
3
1 2 3
4
1 2 3
5
1 2 3

- enuerate
- zip
- for-else

In [3]:
names=['Radha','Madhu','Rohan','Rajesh']
for name in enumerate(names):
    print(name)

(0, 'Radha')
(1, 'Madhu')
(2, 'Rohan')
(3, 'Rajesh')

In [4]:
for idx, name in enumerate(names):
    print(idx, name)

0 Radha
1 Madhu
2 Rohan
3 Rajesh

In [5]:
x = [1,2,3,5,7,3,3,6,7,9,8,0,2,1,1,5,6,7]
for i, v in enumerate(x):
    if i==10:
        break
    print(v)

1
2
3
5
7
3
3
6
7
9

In [7]:
x=[1,3,4,5,6,2]
y=[7,8,9,2,5,3]
z=[3,4,5,6,7,2]
for i in zip(x,y,z):
    print(i)

(1, 7, 3)
(3, 8, 4)
(4, 9, 5)
(5, 2, 6)
(6, 5, 7)
(2, 3, 2)

In [8]:
for i,j,k in zip(x,y,z):
    print(i,j,k)

1 7 3
3 8 4
4 9 5
5 2 6
6 5 7
2 3 2

In [9]:
for i,j,k in zip(x,y,z):
    print(i+j+k)

11
15
18
13
18
7

In [11]:
x=[1,3,4,5,6,2,8,0,1]
y=[7,8,9,2,5,3,6,7]
z=[3,4,5,6,7,2,5]
for i in zip(x,y,z):
    print(i)

(1, 7, 3)
(3, 8, 4)
(4, 9, 5)
(5, 2, 6)
(6, 5, 7)
(2, 3, 2)
(8, 6, 5)

In [12]:
for i,j,k in zip(x,y,z):
    print(i+j+k)

11
15
18
13
18
7
19

for - else

if all the iteration of the loop are completed without any break statement, then the else part is executed.
else part is not executed if the loop is terminated by a break statement

In [13]:
for i in x:
    if i==3:
        break
    print(i)
else:
    print("completed")

1

In [14]:
for i in x:
    if i==13:
        break
    print(i)
else:
    print("completed")

1
3
4
5
6
2
8
0
1
completed

In [19]:
num = int(input("enter a number"))
for i in range (2,num):
    print(f'{num} % {i} = {num%i}')
    if num % i == 0:
        print("not prime")
        break
else:
    print("prime")

23 % 2 = 1
23 % 3 = 2
23 % 4 = 3
23 % 5 = 3
23 % 6 = 5
23 % 7 = 2
23 % 8 = 7
23 % 9 = 5
23 % 10 = 3
23 % 11 = 1
23 % 12 = 11
23 % 13 = 10
23 % 14 = 9
23 % 15 = 8
23 % 16 = 7
23 % 17 = 6
23 % 18 = 5
23 % 19 = 4
23 % 20 = 3
23 % 21 = 2
23 % 22 = 1
prime