In [1]:
a = 1,2,3,4  # tuple packing
print(a)

(1, 2, 3, 4)

In [2]:
w,x,y,z = a
print(w,x,y,z)
first, *rest = a #first value will be store in first variable  ----  rest will be stored in rest variable as a list
print(first,rest)

1 2 3 4
1 [2, 3, 4]

In [5]:
fname , *lname = "Akash Deep Srivastava".split()
print(fname , lname , sep="\n")

Akash
['Deep', 'Srivastava']

function

- Count
- Index

In [6]:
x = [1,2,3,4]
xt = tuple(x)
print(x,xt)
xl = list(xt)
xs = set(x)
xts = set (xt)
print(xl,xs,xts)

[1, 2, 3, 4] (1, 2, 3, 4)
[1, 2, 3, 4] {1, 2, 3, 4} {1, 2, 3, 4}

In [7]:
print(xt[-1])
print(xt[0])

4
1

SET

In [8]:
a = {1,2,4,3,6,3,5,7,1,2,4}
print(a)

{1, 2, 3, 4, 5, 6, 7}

In [11]:
b =  set()  # Empty set 
b.add('hello')
b.add('fellow')
b.add('mellow')
b.update({'yellow' ,'cello'})  #Add a iterable to a set
print(b)

{'hello', 'cello', 'mellow', 'fellow', 'yellow'}

In [14]:
b.discard({'mellow','cello'})  # remove element from set
print(b)

{'hello', 'cello', 'fellow', 'yellow'}

Set operations

In [15]:
a = {1,2,3,4}
b = {3,2,4,5,6,7}
c = {4,3,2,5,6,7,2,1,8}
d = {2,3,4,7,3,0,9,5}

In [19]:
a.union(b) # or a/b

{1, 2, 3, 4, 5, 6, 7}

In [18]:
a.intersection(b)  # a & b

{2, 3, 4}

In [21]:
print(a.difference(b))  # a-b
print(b.difference(a))  # b-a

{1}
{5, 6, 7}

In [22]:
a.symmetric_difference(b)  # a ^ b

{1, 5, 6, 7}

In [23]:
print(c.issuperset(a))
print(a.issubset(d))
print(b.isdisjoint(c))

True
False
False